.card {
  padding: 20px;
  width: 300px;
  background-color: aliceblue;
}

body {
  background-color: #ddd;
}

.titulo-contador {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagen {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

.conjunto-cartas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}